html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li a,
a {
  text-decoration: none;
}
/*===========================  Start Header Section  ===========================*/

/*===========================  End Header Section  ===========================*/

.exo-menu {
  width: 100%;
  float: left;
  position: relative;
}
.exo-menu > li {
  display: inline-block;
  float: left;
}

.drop-down-ul {
  display: none;
}
.flyout-right > ul,
.flyout-left > ul {
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
}

.flyout-right ul > li > a,
.flyout-left ul > li > a {
  border-bottom: 1px dotted #b8c7bc;
}

/*mega menu*/

.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display: none;
  padding-top: 0;
  min-height: 100%;
}

/*common*/
.flyout-mega-wrap,
.mega-menu {
  background-color: #547787;
}

/*hover*/
.mega-menu:hover,
.mega-drop-down a:hover + .mega-menu,
li.flyout-mega > a:hover + .flyout-mega-wrap {
  display: block;
}
